body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.oauth {
  display: flex;
  align-items: center;
  width: 140px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  text-decoration: none;
}
.oauth img {
  width: 25px;
  height: 25px;
}
.oauth h6 {
  font-size: 12px;
  margin-left: 3px;
  color: rgb(44, 44, 44);
}
